---
title: Autodeploy
---

<div class="welcome">
  <h1>Commit to this repository and watch it autodeploy!</h1>
  <p class="doc">
    <%= link_to "Live website", "http://munrient.github.io/autodeploy" %>
  </p>
</div>
